.weather-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.weather-form form{
    height: 30vh;
    width: 30vw;
}

.form-objects{
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.form-objects label{
    float: left;
    margin: 5px 0;
}

#city-name {
    padding: 5px ;
    margin-bottom: 12px;
    font-size: 25px;
    width: 97%;
}

#measurement-unit{
    font-size: 25px;
    padding: 5px ;
    float: left;
}

#submit-btn{
    font-size: 25px;
    bottom: 5px;
    right: 5px;
}